.App
{
    text-align: center;

    box-shadow: 0 0 5px 0 #434343;
}

.warning
{
    color: orangered;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row
{
    flex-direction: row;
    flex-wrap: wrap;

    box-sizing: content-box;

    composes: container;
}

.col
{
    flex-direction: column;
}

@media (min-width: 1151px)
{
    .container
    {
        max-width: 1100px;
    }

    .App
    {
        max-width: 1280px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) and (max-width: 1150px)
{
    .container
    {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .container
    {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px)
{
    .container
    {
        max-width: 540px;
    }
}

@media (max-width: 576px) and (min-width: 300px)
{
    .container,
    .row
    {
        max-width: 350px;
        padding-right: 5px;
        padding-left: 5px;
    }
}

button
{
    font-weight: 400;

    display: inline-block;

    box-sizing: border-box;
    margin: .5rem;
    padding: 8px 20px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: inherit;
    border: solid 1px #999;
    border-radius: .4rem;
    background-color: inherit;
}

link
{
    text-decoration: none;
}

button:focus
{
    outline: 0;
}

input,
select,
textarea
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    display: block;

    width: 100%;
    max-width: 90%;
    margin-top: .5rem;
    padding: .375rem .75rem;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    color: inherit !important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: inherit !important;
    background-clip: padding-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    /*-webkit-box-shadow: 0 0 0 30px #ced4da inset !important;*/
}
input:-webkit-autofill {
    /*-webkit-text-fill-color: darkgoldenrod !important;*/
}